---
layout: default
title: Home
---

<section id="page-content" class="c-section c-section--hero c-page-content u-padding-bottom-large">
    <div class="c-section--hero__intro">
        <div class="o-wrapper">
            <h1 class="c-section__title c-section--hero__title">
                Hi! We&rsquo;re
                <strong>Suits &amp; Sandals.</strong>
                We make video games for fun!
            </h1>

            <div class="c-section--hero__links">
                <h2 class="c-section--hero__subtitle">
                    Join our community
                </h2>
                <ul class="o-list-inline">
                    <li class="o-list-inline__item">
                        <a href="#">
                            <img src="/assets/img/social/twitter.svg" class="c-section--hero__icon" alt="Twitter">
                        </a>
                    </li>
                    <li class="o-list-inline__item">
                        <a href="#">
                            <img src="/assets/img/social/discord.svg" class="c-section--hero__icon" alt="Discord">
                        </a>
                    </li>
                    <li class="o-list-inline__item">
                        <a href="#">
                            <img src="/assets/img/social/steam.svg" class="c-section--hero__icon" alt="Steam">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="games" class="c-section--hero__games">
        <h2 class="c-section__title u-text-light">Our Games</h2>
        <div class="c-carousel">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for game in site.games %}
                            <li class="glide__slide">
                                {% if game.thumbnail %}
                                    <img alt="{{ game.title }}" src="{{ game.thumbnail }}">
                                {% else %}
                                    <img alt="{{ game.title }}" src="/assets/img/no-game.png">
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>

            <div class="c-carousel__texts">
                {% for game in site.games %}
                    <article class="c-carousel__text">
                        <h3 class="u-h1">{{ game.title }}</h3>
                        <p>{{ game.shortdesc }}</p>
                        <div class="c-btn-group">
                            <a href="{{ game.download }}" class="c-btn c-btn--primary">Download</a>
                            <a href="{{ game.url }}" class="c-btn">More Info</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/glide.js"></script>
<script>
    const glide = new Glide('.glide', {
        type: 'slider',
        rewind: false,
        startAt: 2,
        perView: 5,
        focusAt: 'center',
        gap: 42,
        breakpoints: {
            1280: {
                perView: 3
            },
            800: {
                perView: 1
            }
        }
    });

    const glideTexts = document.querySelectorAll('.c-carousel__text');

    glide.on(['mount.after','run'], function() {
        const curr = glide._c.Html.slides[glide._i];
        const prev = curr.previousElementSibling;
        const next = curr.nextElementSibling;
        const all  = glide._c.Html.slides.concat(glide._c.Clones.items);
        all.forEach(function(slide) {
            slide.classList.remove('glide__slide--prev', 'glide__slide--next');
        });
        curr.classList.add('glide__slide--active');
        if (prev) prev.classList.add('glide__slide--prev');
        if (next) next.classList.add('glide__slide--next');

        glideTexts.forEach(function(text) {
            text.classList.remove('c-carousel__text--active');
        });

        setTimeout(function() {
            glideTexts[glide._i].classList.add('c-carousel__text--active');
        }, 350);
    });

    glide.mount();
</script>

{% include newsletters.html viewmore="true" %}
