---
layout: page-newsletter
title: News & Updates
---

<h1 class="u-text-center">News &amp; Updates</h1>

<hr>

<div class="c-filters">
    <p class="c-filters__label">Filter posts:</p>
    {% for category in site.categories %}
        <button class="c-filters__filter js-filter" data-category="{{ category[0] }}">
            {{ category[0] | capitalize }}
        </button>
    {% endfor %}
    <button class="c-filters__filter c-filters__filter--clear js-clear-filters">
        &times;
        <span class="u-hidden-visually">
            Clear filters
        </span>
    </button>
</div>

<div class="c-filter-posts">
    {% for post in site.posts %}
        {% include article-card.html post=post dark=false %}
    {% endfor %}
</div>