<nav id="site-nav" class="c-site-nav">
    <div class="o-wrapper">
        <a href="{{ site.baseurl }}/" class="c-site-nav__logo-link" title="Suits &amp; Sandals - Home">
            <img class="c-site-nav__logo c-site-nav__logo--full" src="{{ site.baseurl }}/assets/img/logo.svg">
            <img class="c-site-nav__logo c-site-nav__logo--compact" src="{{ site.baseurl }}/assets/img/logo-compact.svg">
        </a>

        <ul class="c-site-nav__items">
            <a class="c-site-nav__item" href="{{ site.baseurl }}/#games">
                Games
            </a>
            <a class="c-site-nav__item" href="{{ site.baseurl }}/news">
                News
            </a>
            <a class="c-site-nav__item" href="{{ site.data.settings.links.tf2 }}">
                TF2 Content
            </a>
            <a class="c-site-nav__item" href="{{ site.data.settings.links.sprites }}">
                Sprites Unlimited
            </a>
        </ul>
    </div>
</nav>