// Spacing aliases

$spacing: $inuit-global-spacing-unit;
$spacing-tiny: $inuit-global-spacing-unit-tiny;
$spacing-small: $inuit-global-spacing-unit-small;
$spacing-large: $inuit-global-spacing-unit-large;
$spacing-huge: $inuit-global-spacing-unit-huge;

$global-transition: all 200ms ease-in-out;
$global-transition-long: all 400ms ease-in-out;

$global-radius: 2px;

$global-font-family: "Roboto Condensed", sans-serif;

$global-box-shadow: 0 10px 20px rgba(black, 0.05), 0 1px 3px rgba(black, 0.05);
$global-box-shadow-2: 0 15px 35px rgba(black, 0.05), 0 3px 6px rgba(black, 0.05);

$inuit-font-size-h1: 48px;

