html {
    font-family: $global-font-family;
    font-size: ($inuit-global-font-size-mobile / 16px) * 1em;
    line-height: $inuit-global-line-height / $inuit-global-font-size;
    color: $black;
    background: $secondary;

    @include mq($from: tablet) {
        font-size: ($inuit-global-font-size / 16px) * 1em;
        line-height: $inuit-global-line-height / $inuit-global-font-size;
    }

    &.nav-open {
        overflow: hidden;
    }

    &.is-preload * {
        transition: none 0s;
    }
}

body {
    //overflow-x: hidden;
}

.c-site {
    background: radial-gradient(circle at bottom center, rgba(31,206,220,1) 33%, rgba(15,130,209,1) 100%);
    @include mq($from: desktop) {
        margin-top: 94px;
    }
}

.c-page-content {
    min-height: calc(100vh - 94px - 80px)
}

.c-game-banner {
    background: $gray-darker;
    height: 50vh;
    background-size: cover;
    background-position: 50% 50%;

    + .c-page-content {
        padding-top: 0 !important;

        .o-wrapper {
            @include mq($from: tablet) {
                position: relative;
                top: -$spacing-large;
            }
        }
    }
}

.small-hr {
    margin: $spacing-large auto;
    max-width: 200px;
    width: 50%;
    background: $gray-lighter;
}

h2[id] {
    position: relative;
    padding-left: $spacing-large;
    top: -$spacing-small;
    padding-top: $spacing-small;
    margin-bottom: -$spacing-small + $spacing;

    @include mq($from: tablet) {
        padding-left: 0;
        top: -$spacing-huge;
        padding-top: $spacing-huge;
        margin-bottom: -$spacing-huge + $spacing;
    }

    .c-permalink {
        display: block;
        position: absolute;
        top: $spacing-small + $spacing-tiny - 2;
        left: $spacing-small;
        width: $spacing;
        height: $spacing;
        text-decoration: none;
        border: 0 !important;

        @include mq($from: tablet) {
            top: $spacing-huge + $spacing-tiny - 2;
            left: -$spacing -$spacing/2;
        }

        > svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: $gray-light;
            transition: $global-transition;
        }

        &:hover,
        &:focus {
            > svg {
                fill: $gray;
            }
        }
    }
}

#games {
    position: relative;
    top: -$spacing-huge;
    padding-top: $spacing-huge + $spacing;
    margin-bottom: -$spacing-huge;
}