.c-btn {
    display: inline-block;
    padding-top: $spacing-small;
    padding-right: $spacing-large;
    padding-bottom: $spacing-small;
    padding-left: $spacing-large;
    text-align: center;
    text-transform: uppercase;
    line-height: $inuit-global-line-height / $inuit-global-font-size;
    font-size: $inuit-font-size-h4;
    font-weight: 700;
    border: 0;
    border-radius: 100px;
    box-shadow: $global-box-shadow;
    background: rgba(white, 0.2);
    color: rgba(black, 0.5);
    transition: $global-transition;
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: $global-box-shadow-2;
        background: rgba(white, 0.3);
        color: rgba(black, 0.6);
    }

    &--large {
        font-size: $inuit-font-size-h3;
    }

    .c-article &:not(.c-btn--primary) {
        background: $gray-lighter;
        box-shadow: none;

        &:hover,
        &:focus {
            background: darken($gray-lighter, 5%);
        }
    }

    &--primary {
        background: $primary;
        color: white;

        &:hover,
        &:focus {
            background: darken($primary, 10%);
            color: white;
        }
    }
}

.c-btn-group {
    > .c-btn {
        margin-bottom: $spacing-small;
        width: 100%;
        max-width: 280px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include mq($from: tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .c-btn {
            margin-right: $spacing;
            margin-bottom: 0;
            width: auto;
            max-width: none;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}