.c-toggle-nav {
    display: block;
    padding: $spacing-small;
    position: fixed;
    top: $spacing-small;
    right: $spacing-small;
    width: 100px;
    z-index: 100;
    border: 0;
    background: $primary;
    color: $white;
    border-radius: 100px;
    text-align: center;
    font-size: $inuit-font-size-h6;
    font-weight: 700;
    text-transform: uppercase;
    transition: $global-transition-long;
    box-shadow: $global-box-shadow-2;
    line-height: 1;
    outline: 0;

    @include mq($from: desktop) {
        display: none;
    }

    .nav-open & {
        position: fixed;
        background: $primary-dark;
        box-shadow: none;
        //transform: translateY(-$spacing);
    }

    &:before {
        content: "Menu";

        .nav-open & {
            content: "Close";
        }
    }
}