---
layout: default
---

{% if page.banner %}
    <div class="c-game-banner" style="background-image:url({{ page.banner }})">
    </div>
{% endif %}

<section id="page-content" class="c-section c-section--primary c-page-content u-padding-bottom">
    <div class="o-wrapper o-wrapper--large">
        <div class="o-grid o-grid--large">
            <div class="o-grid__cell u-1/1">
                <article class="c-article c-article--single">
                    <header class="c-article__header">
                        <h1 class="c-article__title">{{ page.title }}</h1>
                        <p class="c-article__subtitle">{{ page.shortdesc }}</p>
                        <hr class="small-hr">
                        <div class="c-btn-group">
                            <a class="c-btn c-btn--primary" href="{{ page.download }}">Download game</a>
                            {% if page.manual %}
                                <a class="c-btn" href="{{ page.manual }}">Read manual</a>
                            {% endif %}
                        </div>
                        <hr class="small-hr">
                    </header>
                    {{ content }}
                </article>
            </div>
        </div>
    </div>
</section>

{% include newsletters.html viewmore="true" %}

<div id="permalink-svg" style="display:none">
    {% include icons/icon-permalink.svg %}
</div>